# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment files — NEVER commit these
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
/.idea/dbnavigator.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/QReportWeb.iml
/.idea/vcs.xml

# claude
/CALUDE*
/.claude